.font-OpenSans{
	font-family: "Open Sans", sans-serif;
}

.main-text{
	font-size: 60px;
	color: white;
	margin: auto;
}

.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

body{
	background-color:#2d2d2d;
	overflow-y: scroll;
	overflow-x: hidden;
}