.text {
    font-family: "Cruinn Black";
    font-size: 25px;
    color: white;
    position: absolute;
    top: 2%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}